html[data-theme="theme-1"] {
  --background-color: #181818;
  --background-content-color: #2B2B2B;
  --text-color: #E6E1DC;
  --darker-text-color: #999;
  --highlight-color: #FFC66D;
}

html[data-theme="theme-2"] {
  --background-color: #554971;
  --background-content-color: #36213E;
  --text-color: #E6E1DC;
  --darker-text-color: #999;
  --highlight-color: #8AC6D0;
}

html[data-theme="theme-3"] {
  --background-color: #4F5D75;
  --background-content-color: #2D3142;
  --text-color: #FFFFFF;
  --darker-text-color: #BFC0C0;
  --highlight-color: #EF8354;
}

html[data-theme="theme-4"] {
  --background-color: #5F5566;
  --background-content-color: #33202A;
  --text-color: #E6E1DC;
  --darker-text-color: #999;
  --highlight-color: #8AEA92;
}

.theme-selector-container {
  display: flex;
  justify-content: space-evenly;
}

.theme-toggler {
  transition: 0.2s all;
}

.theme-toggler,
.theme-toggler:active,
.theme-toggler:focus {
  color: var(--darker-text-color);
  user-select: none;
  background-color: var(--background-color);
  margin: 15px 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.theme-toggler:hover {
  background-color: var(--background-content-color);
}

.theme-toggler-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

html, body {
  margin: 0;
  padding: 0;
  transition: 0.2s all;
}

html {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

@media (min-width: 38em) {
  html {
    font-size: 22px;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

nav {
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  padding: 0;
}

nav ul li {
  padding: 1.1rem 0.5rem;
}

@media (max-width: 38em) {
  nav ul li {
    padding: 1.25rem 0.5rem;
  }
}

nav ul li a {
  text-decoration: none;
  border: 0;
  text-transform: uppercase;
  color: var(--text-color);
}

nav ul li a:hover {
  border: 0;
  text-decoration: none;
}

footer {
  height: 100px;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  border-bottom: 1px solid var(--highlight-color);
  color: var(--highlight-color);
  padding: 0 0.15rem;
  transition: 0.1s all;
}

a strong {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: bold;
  line-height: 1.25;
  font-family: 'Lora';
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: bolder;
  padding: 0 0.15rem;
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: var(--darker-text-color);
  border-left: .1rem solid #e5e5e5;
  font-style: italic;
  font-family: "Crimson Pro";
  font-size: 24px;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote strong {
  color: #c8c8c8;
}

@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

code, pre {
  font-family: "Fira Mono", monospace;
  font-size: 90%;
}

.highlight {
  border: 1px solid var(--darker-text-color);
}

div.highlight {
  width: 80%;
  margin: 1rem auto;
}

code {
  padding: 0 .1rem;
  margin: 0 0.1rem;
  color: var(--highlight-color);
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1rem;
  line-height: 1.6;
  white-space: pre;
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  margin: 30px auto;
  border-radius: 5px;
}

.home-box .img-container {
  flex: 1;
}

.home-box .img-container img {
  border-radius: 150px;
  filter: saturate(.5);
}

.home-box .description {
  flex: 3;
  align-self: center;
  padding-left: 2rem;
}

.home-box.me {
  display: flex;
}

.home-box, .content {
  max-width: 36rem;
  margin: 0 auto 1rem;
  padding: 1rem 2rem;
  background-color: var(--background-content-color)
}

.spyable-content {
  width: 65%;
  margin: 0 10%;
  margin-left: 10%;
  margin-right: 2.5%;
  padding: 15px 2.5%;
  background-color: var(--background-content-color);
}

@media(max-width: 1024px) {
  .spyable-content {
    min-width: 90%;
    margin: 0;
    padding: 5%;
  }
}

@media(max-width: 680px) {
  .home-box, .content {
    margin: 0 auto 0;
    padding: 1rem;
  }

  .home-box.me {
    padding: 2rem 1rem;
  }

  .home-box.posts {
    padding: 0 2rem 1rem;
  }

  .home-box h2 {
    margin-top: 0;
  }

  div.highlight {
    width: 100%;
  }
}

.post-header {
  margin-bottom: 2rem;
}

.post-header h1 {
  margin-bottom: 0;
}

.post-date {
  color: var(--darker-text-color);
}

.post-list {
  list-style-type: circle;
}

.post-list li {
  margin: 15px 0;
}

.posts-year {
  font-family: 'Lora';
}

.post-date,
.post-meta {
  font-family: "Crimson Pro";
}

.post-meta {
  display: inline-block;
  min-width: 60px;
  color: var(--darker-text-color);
}

.post-meta-title {
  display: inline;
  margin-left: 10%;
  color: var(--text-color);
  border: 0;
}

@media (max-width: 38em) {
  .post-meta-title {
    margin-left: 1%;
  }
}

.scroll-nav {
  position: fixed;
  right: 0;
  width: 20%;
  font-size: 85%;
  padding: 15px;
  font-family: "Crimson Pro";
}

@media(max-width: 1024px) {
  .scroll-nav {
    display: none;
  }
}

.scroll-nav__list {
  margin: 0;
  list-style-type: none;
}

.scroll-nav__item {
  margin-bottom: 5px;
}

.scroll-nav__item--active > a {
  padding: 5px 10px;
  font-weight: bold;
  background-color: var(--highlight-color);
  color: var(--background-content-color);
  transition: 0.2s all;
  text-decoration: none;
  border-radius: 5px;
}

.scroll-nav__link {
  text-decoration: none;
  color: var(--darker-text-color);
  border: 0;
}

.scroll-nav__link:hover {
  border: 0;
  color: var(--highlight-color);
}

.scroll-nav__link:visited,
.scroll-nav__link:focus {
  border: 0;
}

audio {
  width: 80%;
  margin: 15px 10%;
}
