<!DOCTYPE html>
<html lang="en-us" data-theme="theme-3">
  {% include head.html %}
  <body>
    <div>
      <div class="theme-selector-container">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
          </ul>
        </nav>
        <div class="theme-toggler">
          <div class="theme-toggler-box" style="background-color:var(--background-content-color)"></div>
          <div class="theme-toggler-box" style="background-color:var(--text-color)"></div>
          <div class="theme-toggler-box" style="background-color:var(--darker-text-color)"></div>
          <div class="theme-toggler-box" style="background-color:var(--highlight-color)"></div>
          <div class="theme-toggler-box" style="background-color:var(--background-color)"></div>
        </div>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </body>
  <script>
    (function() {
      const theme = window.localStorage.getItem("theme");
      if (theme) {
        document.documentElement.setAttribute('data-theme', 'theme-' + theme);
      }

      $('.theme-toggler').on('click', function() {
        const currentTheme = document.documentElement.getAttribute('data-theme');
        const currentNumber = Number(currentTheme.split("-")[1]);
        let nextTheme;
        if (currentNumber == 4) {
          nextTheme = 1;
        } else {
          nextTheme = currentNumber + 1;
        }

        window.localStorage.setItem('theme', nextTheme);
        document.documentElement.setAttribute('data-theme', 'theme-' + nextTheme);
      });
    })();
  </script>
</html>
